.error-pages-config {
  flex-direction: row;
  justify-content: space-between;

  .editor-section {
    flex: 1;

    .react-ace {
      height: 300px; // initial smaller height
      transition: height 0.3s ease;

      &.expanded {
        height: 600px; // expanded height
      }
    }
  }

  .preview-section {
    flex: 1;
    border: 1px solid #e1e1e1;
    padding: 20px;
    overflow-y: auto;
  }
}

.editor-mode-selector {
  .btn {
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }
}
